.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logform {
    background-color: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.h21 {
    text-align: center;
    margin-bottom: 20px;
}

.loginlabel {
    display: block;
    margin-bottom: 8px;
}

.logininput {
    width: 280px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.logbutton {
    width: 100%;
    padding: 10px;
    background-color: #092ea7; /* Dark blue button color */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.logbutton:hover {
    background-color: #0b40e8; /* Slightly darker blue on hover */
}
.message
{
    color: red;
}



body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: skyblue;
}

nav {
    background-color: skyblue;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-content {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.logo-button {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.logo {
    width: 50px;
    height: 50px;
}

.logo-text {
    font-size: 1.5rem;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 5px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    cursor: pointer;
    
}

.right-buttons {
    display: flex;
    align-items: center;
    margin-top: -20px; 
    margin-left: 950px;
    
}

.signup-button,
.login-button {
    font-size: 1rem;
    padding: 8px 16px;
    font-weight: bold;
    margin-left: 5px; /* Adjust the left margin to separate the buttons from each other */
    border: none;
    border-radius: 4px;
    background-color: #092ea7;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.8s;
}


.signup-button:hover,
.login-button:hover {
    background-color: #a8b5e0;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

